body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

input {
  padding: 5px;
  font-size: 16px;
  width: 100px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
}

#message {
  font-weight: bold;
  margin-top: 10px;
}
