* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f0f0f;
  color: #ffffff;
}

#burger {
  font-size: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

nav {
  background-color: #fff;
  color: #000;
  font-size: 2rem;
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  width: 450px;
  height: 100vh;
  transform: translateX(-450px);
  transition: all 0.5s ease;
}

span {
  margin-top: 2rem;
}


